@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.home-wrapper{
    vertical-align: center;
}
.home-head-line{
    text-align: center;
    align-self: center;
    justify-content: center;
    font-family: 'Staatliches', cursive;
}
.home-body{
    display: flex;
    align-content: space-evenly;
    justify-content: center;
    position: center;
    background-color: #0062cc;
    height: 100%;
}
.home-card{
    width: 318px;
    margin: 20px;
    resize: both;
    overflow: auto;
}
.home-card-img{
    max-height: 190px;
}
.home-card-title{
    color: black;
    font-family: 'Staatliches', cursive;
}
.home-card-body{
    color: #ffffff;
    background-color: #87ceeb;
    justify-content: center;
    text-align: center;
}
.home-card-btn{
    background-color: #ffffff;
    color: #87ceeb;
}
.home-bottom-text{
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}
.account-home-active {
    background-color: #87ceeb!important;
    color: white!important;
    cursor: pointer!important;
}
.account-home-inactive {
    background-color: #cccccc!important;
    color: black!important;
    cursor: pointer!important;
}