@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar {
    background-color: #87ceeb;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    padding-right: unset;
    font-size: 1.2rem;
    position: relative;
    top: 0;
    z-index: 20;
}
.NavMenu {
    display: flex;
    align-items: center;
}
.website-title {
    font-family: 'Lobster', cursive;
}
.nav-logo {
    color: #ffffff;
    font-family: Lobster, serif;
    display: flex;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
.nav-link {
    color: white;
}
.nav-link a:hover nav:focus {
    display: block;
    color: white;
}
.DropDownText {
    color: white;
}