@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.contact-wrapper{
    vertical-align: center;
}
.contact-head-line{
    text-align: center;
    align-self: center;
    justify-content: center;
    font-family: 'Staatliches', cursive;
}
.col {
    padding: 5px;
}
.contact-card{
    min-width: 315px;
    max-width: 400px;
    margin: auto;
}
.contact-body{
    display: flex;
    align-content: space-evenly;
    justify-content: center;
    position: center;
    background-color: #0062cc;
    height: 100%;
}
.contact-card-img{
    height: auto;
    width: auto;
}
.contact-card-title{
    color: black;
    font-family: 'Staatliches', cursive;
}
.contact-card-body{
    color: #ffffff;
    background-color: #87ceeb;
    justify-content: center;
    text-align: center;
}
.contact-card-btn{
    background-color: #ffffff;
    color: #87ceeb;
}
.contact-bottom-text {
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 25px;
}