.home-wrapper{
    vertical-align: center;
}
@font-face {
    font-family: Staatliches;
    src: url("./Staatliches-Regular.ttf");
}
.home-head-line{
    text-align: center;
    align-self: center;
    justify-content: center;
    font-family: Staatliches, serif;
}
.home-body{
    display: flex;
    align-content: space-evenly;
    justify-content: center;
    position: center;
    background-color: #0062cc;
    height: 100%;
}
.home-card{
    width: 318px;
    margin: 20px;
    resize: both;
    overflow: auto;
}
.home-card-img{
    max-height: 190px;
}
.home-card-title{
    color: black;
    font-family: Staatliches;
}
.home-card-body{
    color: #ffffff;
    background-color: #87ceeb;
    justify-content: center;
    text-align: center;
}
.home-card-btn{
    background-color: #ffffff;
    color: #87ceeb;
}
.home-bottom-text{
    padding-top: 20px;
    padding-right: 75px;
    padding-left: 75px;
}